@model jobsity.Repository.Message
@using jobsity.Utilities

@{
    ViewBag.Title = "Chat";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(r => r.IdUser,new {Value= Security.LoggedUser.IdUser })
    @Html.Hidden("botUrl",(string)ViewBag.BotUrl)
    @Html.Hidden("botUserId",(int)ViewBag.BotUserId)

    <div class="card col-sm-6 offset-sm-4">
        <div class="card-header bg-primary text-white card-title">CHAT</div>
        <div class="card-body" id="messagesContainer">
            <div id="messageTemplate"  style="display:none" class="alert alert-primary"><span class="details">Daniel</span> <span class="date">2019/10/10 23:50</span> <br/> <span class="message">Hola</span> </div>
        </div>
        <div class="card-footer">
            @Html.LabelFor(r => r.Message1, "Message")
            @Html.TextAreaFor(r => r.Message1, new { Class = "form-control", Required = "" }) <input type="submit" value="Send" class="btn btn-outline-primary" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/chat.js"></script>